@charset "utf-8";
body{
	font-family:Arial, Helvetica, Verdana, Geneva, sans-serif;	
}
a,html,input,body,img,p,br,ul,li,h1,h2,h3,h4{
	text-decoration:none;
	margin:0;
	padding:0;
}
ul,li{
	list-style-type:none;
}
a:hover{
	cursor:pointer;
}
a:visited,a:link{
	color:inherit;
    decoration: none; 
}
body {
    
    color: #000;
    margin: 0;
    padding: 0;
}
.background {
	position:absolute;
	display:block;
	top:0;
	left:0;
	z-index:-999;
}
.logo-top{
	background: #eee;
	background: linear-gradient(#fff, #d0d0d0, #e8e8e8);
	padding:10px;
	width: 100%;
	border-radius: 5px 5px 0 0;
}
.logo-top .mg-0{
	margin: 0!important;
}
.logo-top ul .logo-hd{
	text-align: center;
}
.logo-top ul .name-hd{
	text-align: center;
}
.logo-top ul .name-hd h1{
	color: #095f90;
    font-size: 120%;
    line-height: 42px;  
	margin: 0;
}
.mb-2, .my-2 {
    margin-bottom: .5rem!important;
}
.input-group-prepend {
    margin-right: -1px;
}
.input-group-append, .input-group-prepend {
    display: -ms-flexbox;
    display: flex;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;    
    margin-bottom: 0;    
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    
}
.vh-100{
	height:100%;
    
}
.name-lg{
	text-align: center;
	padding: 0px 0 10px 0;
	font-size:150%;
	color:#095f90
}
.center-login {
    width: 450px;
    height:60%;
    margin: 0px auto;
}
.center-change {
    width: 100%;
    margin: 0px auto;
    max-width:550px;
}
    .center-change .w154 {
        width:160px;
    }
.form-login, .form-change {
    padding: 20px;
    background: #fff;
    width: 100%;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
}
.btn-100 {
    display: inline-block;
    width: 100%;
    height: 60px;
    border-radius: 0 0 5px 5px !important;
    border-bottom: 5px solid #0055b1 !important;
    color: #fff !important;
    line-height: 42px;
    text-transform: uppercase;
    background-color: #007bff;
    border-color: #007bff;
    font-size: 20px;
    font-weight: bold;
}
.btn-40 {
    display: inline-block;
    height: 40px;
    border-radius: 2px 2px 5px 5px !important;
    border-bottom: 5px solid #0055b1 !important;
    color: #fff !important;
    text-transform: uppercase;
    background-color: #007bff;
    border-color: #007bff;
    font-size: 12px;
    padding: 0px 22px;
    font-weight: bold;
    margin: 0px 5px;
    line-height: 37px;
}
.btn-huy {
    border-bottom: 5px solid #607D8B !important;
    background-color: #9E9E9E;
    border-color: #9E9E9E;
}
.w154 {
    width: 150px;
}
.box-lg-captcha {
    display: table;
    width: 100%;
    text-align: center;
}
    .box-lg-captcha .input-group-prepend {
        display: table-cell;
        width: 150px;
        vertical-align: middle;
        background-color: #e9ecef;
        border: 1px solid #ced4da;
        text-align:left;
    }
    .box-lg-captcha .box-captcha {
        display: table-cell;
        vertical-align: top;
        border: 1px solid #ced4da;
        border-left: 0px;
        padding: 10px 0px;
        background:url(../images/bg-captcha.jpg);
    }
        .box-lg-captcha .box-captcha img {
            width: 200px;
            height: 70px;            
        }
        .box-lg-captcha .box-captcha br {
            display: none;
        }
        .box-lg-captcha .box-captcha a {
            display:block;
            
        }
    .box-lg-captcha input {
           padding: 4px 0px;
    font-size: 18px;
    /* line-height: 1.5; */
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-align: center;
    text-transform: uppercase;
    }

    /*Footer*/
footer{
	margin-top: 15px;
    
}
.info-site-top{
	padding: 15px 0;
	font-size: 14px;
    color:#fff;
}
.info-site-top .thongke{
	float: right;
}

footer .copy-r{
	height: 30px;
	line-height: 30px;
}
footer .copy-r p{
	font-size: 12px;
    color:#333;
}
